/* body {
  --color-background: #FFBFF3;
  --color-foreground: #1f2023;
  color: white;
  text-align: center;
} */

body {
  --color-background: #FFBFF3; /* Light mode background */
  --color-foreground: purple; /* Light mode foreground */
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body.dark {
  --color-background: purple; /* Dark mode background */
  --color-foreground: #FFBFF3; /* Dark mode foreground */
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.App {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.switcher {
  display: flex;
}

a {
  text-decoration: none; /* removes underline from anchor tags */
}

.centered {
  display: flex;
  justify-content: center;
}

.userImage {
  width: 300px;
  height: 300px;
}

.dropdown-button {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover and active states */
}

.dropdown-button:hover {
  background-color: lightgrey; 
}

.dropdown-button:active {
  background-color: darkgrey; 
}

#signIn {
  background-color: #81cdc6;
  border: none;
  color: #321E48;
}

#navbar {
  background-color: #81cdc6;
}

.me-auto {
  width: 100%;
  justify-content: space-evenly;
}

#custom-switch {
  justify-self: end;
}

.navBtn {
  background-color: #B2FBA5;
  border: none;
  color: hotpink;
  font-family: cursive;
}