body {
  --color-background: #FFBFF3; /* Light mode background */
  --color-foreground: purple; /* Light mode foreground */
  background-color: var(--color-background);
  color: var(--color-foreground);
  color: white;
  text-align: center;
  background-image: url(../styles/Images/inkswirl.avif);
  background-repeat:repeat;
  background-position:center center;
  background-attachment:fixed;
  background-size:cover;
}

body.dark {
  --color-background: purple; /* Dark mode background */
  --color-foreground: #FFBFF3; /* Dark mode foreground */
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.App {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.switcher {
  display: flex;
}

a {
  text-decoration: none; /* removes underline from anchor tags */
}

.centered {
  display: flex;
  justify-content: center;
}

.userImage {
  width: 300px;
  height: 300px;
}

.dropdown-button {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth transition for hover and active states */
}

.dropdown-button:hover {
  background-color: lightgrey; 
}

.dropdown-button:active {
  background-color: darkgrey; 
}

#signIn {
  background-color: #81cdc6;
  border: none;
  color: #321E48;
}

#navbar {
/* From https://css.glass */
background: rgba(108, 189, 187, 0.86);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
border: 1px solid rgba(108, 189, 187, 0.38);
}

.card {
  background: rgba(223, 203, 228, 0.6);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.1px);
-webkit-backdrop-filter: blur(6.1px);
border: 1px solid rgba(223, 203, 228, 0.38);
color: white;
}

.btn {
background: transparent;
outline: none;
}


.me-auto {
  width: 100%;
  justify-content: space-evenly;
}

#custom-switch {
  justify-self: end;
}

.navBtn {
  background-color: #B2FBA5;
  border: none;
  color: hotpink;
  font-family: cursive;
}
